<span id="feeddiff">
    <script src="@Url.Content("~/Scripts/diff_match_patch.js")" type="text/javascript"></script>
    <script type="text/javascript" language="JavaScript">
        var dmp = new diff_match_patch();

        function launch_feed_diff() {
            var url = document.getElementById("feeddiffselect").value;
            feed_diff(url);
        }

        function feed_diff(url) {
            document.getElementById('outputdiv').innerHTML = "";

            $.getJSON("/FMS/GetXml?url=" + url, null, function (xml) {


                var text1 = xml;
                var text2 = GlobalFeed;

                dmp.Diff_Timeout = 100;
                dmp.Diff_EditCost = 4;

                var ms_start = (new Date()).getTime();
                var d = dmp.diff_main(text1, text2);
                var ms_end = (new Date()).getTime();
                dmp.diff_cleanupEfficiency(d);
                var ds = dmp.diff_prettyHtml(d);
                document.getElementById('outputdiv').innerHTML = ds + '<BR>Time: ' + (ms_end - ms_start) / 1000 + 's';
            });
        }
    </script>

    <form action="#" onsubmit="return false">


        <p>
            Compare generated feed to
            <select id="feeddiffselect">
                <option value="http://webpitest.blob.core.windows.net/appfeed/WebApplicationList.xml">TC2 Feed</option>
                <option value="https://webpitest.blob.core.windows.net/productionxml/WebApplicationList.xml">Azure Preview Feed</option>
                <option value="http://go.microsoft.com/fwlink/?LinkID=233772">Azure Live Feed</option>
            </select>
            <input type="button" onclick="launch_feed_diff()" value="Compute Diff" id="feed_diff_button">
        </p>
        
    </form>
    <div id="outputdiv" class="scroll"></div>
</span>

<style>
    div.scroll {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666666 #666666 #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 0px;
    height: 615px;
    overflow: auto;
    padding: 0;
    width: 925px;
    font-size: .80em;
        font-family: "Courier New";
}

</style>