<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XmlGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XmlGenCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="XmlGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="XmlGen.Properties.Settings.MSCOMWebConnectionString" connectionString="Data Source=BAYMSFTSQLWWW23,2373;Initial Catalog=MSCOMWeb;User ID=MSCOMWeb_User;Password=MSCOMWebU$er;Connect Timeout=240" providerName="System.Data.SqlClient"/>
        <add name="XmlGenCore.Properties.Settings.MSCOMWebConnectionString" connectionString="Data Source=BAYMSFTSQLWWW23,2373;Initial Catalog=MSCOMWeb;User ID=MSCOMWeb_User;Password=MSCOMWebU$er;Connect Timeout=240" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <XmlGen.Properties.Settings>
            <setting name="Directory" serializeAs="String">
                <value/>
            </setting>
            <setting name="SQLCEApps" serializeAs="String">
                <value>UmbracoCMS5,Umbraco,OrchardCMS,nopCommerce</value>
            </setting>
            <setting name="AzureProductionApplicationFeed" serializeAs="String">
                <value>http://go.microsoft.com/fwlink/?LinkID=233772</value>
            </setting>
            <setting name="AzurPreviewApplicationFeed" serializeAs="String">
                <value>http://go.microsoft.com/fwlink/?LinkID=242947</value>
            </setting>
            <setting name="AzurTC2ApplicationFeed" serializeAs="String">
                <value>http://go.microsoft.com/fwlink/?LinkID=242947</value>
            </setting>
            <setting name="ApplicationFeed" serializeAs="String">
                <value>http://go.microsoft.com/fwlink/?LinkID=282690</value>
            </setting>
            <setting name="KatalFeed" serializeAs="String">
                <value>http://go.microsoft.com/fwlink/?LinkID=288996</value>
            </setting>
            <setting name="LiveProductFeed" serializeAs="String">
               <value>http://go.microsoft.com/fwlink/?LinkID=282689</value>
            </setting>
        </XmlGen.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XmlGenCore.Properties.Settings>
            <setting name="Directory" serializeAs="String">
                <value/>
            </setting>
            <setting name="languages" serializeAs="String">
                <value>en,de,es,fr,it,ja,ko,ru,zh-cn,zh-tw,cs,he,pt-br,pl,tr,pt-pt,zh-hk</value>
            </setting>
            <setting name="resourceLanguages" serializeAs="String">
                <value>de-de,es-es,fr-fr,he-il,it-it,ja-jp,ko-kr,ru-ru,pt-pt,tr-tr,zh-cht,pt-br,zh-chs,zh-hk,cs-cz,ar-ag,pl-pl,zh-hk</value>
            </setting>
            <setting name="LiveFeed" serializeAs="String">
                <value>http://www.microsoft.com/web/webpi/4.5/webapplicationlist.xml</value>
            </setting>
            <setting name="CurrentProductFeed" serializeAs="String">
                <value>http://microsoft.com/web/webpi/4.5/webproductlist.xml</value>
            </setting>
            <setting name="AzureApps" serializeAs="String">
                <value/>
            </setting>
            <setting name="SQLCEApps" serializeAs="String">
                <value>UmbracoCMS5,Umbraco,OrchardCMS,nopCommerce</value>
            </setting>
            <setting name="IIS7Apps" serializeAs="String">
                <value>RakuCMS,DotNetAge,Tiki,SplendidCRM,WordPressJa</value>
            </setting>
            <setting name="AzureProdFeed" serializeAs="String">
                <value>https://auxmktplceprod.blob.core.windows.net/appfeed/WebApplicationListProd.xml</value>
            </setting>
            <setting name="AzureTestFeed" serializeAs="String">
                <value>https://webpitest.blob.core.windows.net/appfeed/WebApplicationList.xml</value>
            </setting>
            <setting name="WPI3Feed" serializeAs="String">
                <value>http://microsoft.com/web/webpi/3.0/WebApplicationList.xml</value>
            </setting>
            <setting name="PreviousProductFeed" serializeAs="String">
                <value>http://microsoft.com/web/webpi/3.0/webproductlist.xml</value>
            </setting>
            <setting name="DiscoveryFeed" serializeAs="String">
                <value>http://www.microsoft.com/web/webmatrix/2.0/discovery.txt</value>
            </setting>
            <setting name="AzureTC2Blob" serializeAs="String">
                <value>https://webpitest.blob.core.windows.net/backup-packages</value>
            </setting>
            <setting name="AzurePRODBlob" serializeAs="String">
                <value>https://auxmktplceprod.blob.core.windows.net/packages</value>
            </setting>
            <setting name="KatalFeedLocation" serializeAs="String">
                <value>http://www.microsoft.com/web/katal/4.2/webapplicationlist.xml</value>
            </setting>
        </XmlGenCore.Properties.Settings>
        <XmlGen.Properties.Settings>
            <setting name="languages" serializeAs="String">
                <value>en,de,es,fr,it,ja,ko,ru,zh-cn,zh-tw,cs,he,pt-br,pl,tr,pt-pt,zh-hk</value>
            </setting>
            <setting name="resourceLanguages" serializeAs="String">
                <value>de-de,es-es,fr-fr,he-il,it-it,ja-jp,ko-kr,ru-ru,pt-pt,tr-tr,zh-cht,pt-br,zh-chs,zh-hk,cs-cz,ar-ag,pl-pl,zh-hk</value>
            </setting>
            <setting name="LiveFeed" serializeAs="String">
                <value>http://www.microsoft.com/web/webpi/4.5/WebApplicationList.xml</value>
            </setting>
            <setting name="CurrentProductFeed" serializeAs="String">
              <value>http://microsoft.com/web/webpi/4.5/webproductlist.xml</value>
            </setting>
            <setting name="IIS7Apps" serializeAs="String">
                <value>RakuCMS,DotNetAge,Tiki,SplendidCRM,WordPressJa</value>
            </setting>
        </XmlGen.Properties.Settings>
    </applicationSettings>
</configuration>
