<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomActivities.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CustomActivities.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CustomActivities.Properties.AppSettings>
            <setting name="FeedDirectory" serializeAs="String">
                <value>C:\Feed</value>
            </setting>
            <setting name="WebProductList" serializeAs="String">
                <value>http://go.microsoft.com/fwlink/?LinkID=282689</value>
            </setting>
            <setting name="TrackingDb" serializeAs="String">
                <value>Data Source=IIS-SBH405-V10;Initial Catalog=TrackingWorkFlow;;uid=sa;pwd=iis6!dfu</value>
            </setting>
            <setting name="TC2BlobStorage" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=webpitest;AccountKey=GUpp23Y6qr1LtD/jdXWQjxPwkbS6LfgSyKSSxS0KSZTtaAeZXU3e0pmPr918Xq+igae9QZb9ztgUPvsoQJs4DA==</value>
            </setting>
            <setting name="ParametersXsd" serializeAs="String">
                <value>C:\Feed\Parameters.xsd</value>
            </setting>
            <setting name="TC2PackagePath" serializeAs="String">
                <value>https://webpitest.blob.core.windows.net/backup-packages/</value>
            </setting>
            <setting name="TempDownloadDirectory" serializeAs="String">
                <value>C:\Feed</value>
            </setting>
            <setting name="ProdBlobStorage" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=auxmktplceprod;AccountKey=7FUA4jnShrZBaf2FKLXTSF1aRlfZHqo4WkuXOamQNyw8JQVSHY80s7SazKYifpgRYOl+u1/aQqqKQZ4B5jtmCQ==</value>
            </setting>
            <setting name="ProdBackupPath" serializeAs="String">
                <value>\\iisdist\appgallery\AzureBackup</value>
            </setting>
            <setting name="ProdFeedName" serializeAs="String">
                <value>WebApplicationListProdDemo.xml</value>
            </setting>
            <setting name="VendorEmail" serializeAs="String">
                <value>v-gaw@microsoft.com</value>
            </setting>
            <setting name="AdminEmail" serializeAs="String">
                <value>v-gaw@microsoft.com</value>
            </setting>
            <setting name="BackupDirectoryCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TC2FeedName" serializeAs="String">
                <value>WebApplicationListTC2Demo.xml</value>
            </setting>
            <setting name="TestPackagePrefix" serializeAs="String">
                <value>A_Test_</value>
            </setting>
            <setting name="TC2BackupPath" serializeAs="String">
                <value>\\iisdist\appgallery\AzureGallery\TC2</value>
            </setting>
            <setting name="TC2FeedContainer" serializeAs="String">
                <value>appfeed</value>
            </setting>
            <setting name="TC2PackageContainer" serializeAs="String">
                <value>backup-packages</value>
            </setting>
            <setting name="ProdFeedContainer" serializeAs="String">
                <value>appfeed</value>
            </setting>
            <setting name="ProdPackageContainer" serializeAs="String">
                <value>packages</value>
            </setting>
        </CustomActivities.Properties.AppSettings>
        <CustomActivities.AppSettings>
            <setting name="FeedDirectory" serializeAs="String">
                <value>C:\Feed</value>
            </setting>
        </CustomActivities.AppSettings>
    </applicationSettings>
</configuration>